.task-details-container {
  background-color: #87cefa3f;
  margin: 15px 0;
  padding:15px 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  border-radius: 5px;
}

.task-details-container h2 {
  margin-bottom: 5px;
  color: #87cefa;
}

.back-button-container {
  flex: 1;
  margin-top: 10px;
}
 .task-details-input {
  margin-top: 10px;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  flex: 2; 
  background-color: #87cefa3f;
  color: #87CEFA;
  font-size: 20px;
  outline: 0;
 }
 .add-details-button {
  flex: 1;
}